body {
    background-image: url(../img/binary_numbers2.jpg);
    color: white;
}

.wrap {
    margin: auto;
    width: 600px;
}

.links {
    border: 3px solid black;
    text-align: center;
    margin-left: 0;
}

a {
    color: white;
}

a:hover {
    color: blue;
}

